.main {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #ccc;
}

/* .main .text:first */

.main .text {
  flex: 2;
  padding: 10;
  padding-top: 15;
  background-color: #eee;
  text-align: center;
  padding: 5px;
}

.main .text:nth-child(even) {
  flex: 2;
  padding: 10;
  padding-top: 15;
  background-color: #ddd;
  text-align: center;
}

.main:first-child .text {
  background-color: #ddd;
}
.main:first-child button {
  display: none;
}

.main button {
  color: white;
  background-color: rgb(59, 196, 59);
  border: none;
  border-radius: 50px;
  padding: 5px;
  min-width: 55px;
}

.main button:hover,
.main button:active {
  background-color: rgb(47, 155, 47);
}

.main:first-child .text:nth-child(even) {
  background-color: #ccc;
}
