/* .container {
  display: flex;
} */

.main {
  flex: 1;
  height: 100%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;

  /* max-width: 500px; */
}

.inputContainer {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.inputContainer span {
  font-weight: bold;
}

.inputContainer span span {
  color: red;
}

.inputContainer input {
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 30px;

  max-width: 300px;
  text-indent: 10px;
}

.btn {
  background: #28b4ab;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);

  margin-top: 50px;
}

.header span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;

  border-right: 2px solid #aaa;
  width: max-content;
  padding-right: 20px;
  height: 40px;
}

.header span:nth-child(1) img {
  width: 40px;
  height: 40px;
}

.header span:nth-child(1) h2 {
  font-weight: 800;
  font-size: 20px;
}

hr {
  width: 100%;
}

.header h1 {
  font-size: 20px;
}

.header h1 code {
  font-weight: 600;
  color: #666;
}

.line {
  width: 787px;
  height: 0px;
  border: 3px solid #d5d5d5;
}

.under {
  margin-top: 44.76px;
}

.sub {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
}

.containerInside {
  padding-left: 30px;
}
