/* ------------------ global ------------------ */

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerNew {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.subContainer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainerNew {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 38vw;
}

.aster {
    color: #ff0000;
}


.inputField {
    height: 1.5vw;
    width: 10vw;
    background: #FFFFFF;
    border: 2px solid #A0A0A0;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 10px;
}

.inputFieldNew {
    height: 1.5vw;
    width: 10vw;
    background: #FFFFFF;
    border: 2px solid #A0A0A0;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 10vw;
    font-size: 10px;
}

.label {
    width: 10vw;
    font-size: 1.25vw;
}

.subHeadingLabel {
    width: 25vw;
    margin: 5vw 44vw 5vw 0;
    font-size: 1.75vw;
}

.submitButton {
    margin: 8vh 0 5vh 0;
    width: 9vw;
    height: 6vh;
    background: #28B4AB;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 1vw;
}


.submitButton:hover {
    opacity: 0.5;
}

.selectElement {
    height: 3vh;
    font-size: 8px;
}

/* ------------------ title ------------------ */

.mandatoryLabel {
    display: flex;
    padding: 8vh 0 0 16vw;
    font-size: 2vw;
}

.img2 {
    width: 5vw;
    height: auto;
    padding-left: 16vw;
}

.titleLabel {
    font-size: 2vw;
    padding-left: 2vw;
}

.stopLine {
    width: 5vh;
    transform: rotate(90deg);
    margin-right: 55vw;
}

.separationLine {
    width: 68vw;
}

.separationLineNormal {
    margin-top: 10vh;
}

.pathBox {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-right: 45vw;
}

.pathLabel {
    font-size: 1.25vw;
    padding: 0 0.5vw 0 0.5vw;
}


/* ------------------ application form ------------------ */

.applicationNo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-left: 9vw;
}


.applicationNoLabel {
    width: 20vw;
    font-size: 1.5vw;
}
