.outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid  #6a2c70;
    ; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.7s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }