.navbar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 9vh;
  background: #6a2c70;
  box-shadow: 0px 21px 27px 9px rgba(0, 0, 0, 0.25);
}

.home {
  display: flex;
  align-items: center;
  margin-left: 7.29vw;
  padding: 3px 0;
  padding: 0 1.041vw;
  height: 9vh;

  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.home:hover {
  opacity: 0.5;
}

.homeImg {
  min-width: 1.667vw;
  height: auto;
  padding-right: 0.52vw;
}

.homeText {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 119.3%;
  /* identical to box height, or 29px */

  color: #ffffff;
}

.title {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.school {
  align-items: center;

  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 119.3%;
  /* identical to box height, or 29px */

  color: #ffffff;
}

.icons {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 38.315px;
}

.iconImg {
  width: 40px;
  padding-right: 1.685vw;
}

.iconImg:hover {
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 8vh;
  }

  .school {
    font-size: 18px;
  }

  .home {
    margin-left: 3vw;
    height: 8vh;
  }

  .homeImg {
    width: 32px;
  }

  .homeText {
    font-size: 18px;
  }

  .icons {
    padding-right: 5.315px;
  }

  .iconImg {
    width: 7vw;
    padding-right: 10px;
  }

  .home:hover {
    opacity: 0.5;
  }

  .iconImg:hover {
    opacity: 0.5;
  }
}
