.navBar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #6A2C70;
    box-shadow: 0px 21px 27px 9px rgba(0, 0, 0, 0.25);
}

.schlName {
    text-align: center;
    color: #fff;
    font-size: 3vh;
    min-width: 16vw;
}

.schlName:hover{
    opacity: 0.5;
}

.vl1{
    border-left: 1px solid #fff;
    height: 10vh;
    position: absolute;
    left: 5vw;
}


.navImg {
    width: 2.5vw;
    height: auto;
}

.navImg:hover{
    opacity: 0.5;
}

.userImg {
    position: absolute;
    right: 1vw;
}


.bellIcon {
    position: absolute;
    right: 5.5vw;
}

.msgImg {
    position: absolute;
    right: 11vw;
}

.menuButton {
    margin-left: 1.25vw;
    position: absolute;
    left: 0
}

@media screen and (max-width: 600px){
    .schlName{
        font-size: 2.1vh;
    }

    .navImg{
        width: 3vw;
    }

    .menuButton{
        width: 4vw;
    }

    .vl1{
        left: 7vw;
    }
}
