.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.language {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.vline {
  margin-top: 7%;
  width: 80vw;
  border: 1px solid #ccc;
}
