.body {
  flex: 1;
  /* background-color: red; */

  display: flex;
  flex-direction: column;

  line-height: 35px;
  overflow-x: hidden;
}

.header {
  flex: 1;
  position: fixed;
  background-color: rgba(143, 143, 143, 0.397);
  backdrop-filter: blur(20px) saturate(125%);
  -webkit-backdrop-filter: blur(20px) saturate(125%);

  width: 100%;
  min-height: 70px;
  max-height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

  z-index: 10;

  transition: 500ms ease;
}
.btn {
  position: absolute;

  display: none;
  top: 10px;
  left: 10px;
  z-index: 11;

  /* transition: 500ms ease; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  width: 35px;
  height: 35px;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.checkbox {
  appearance: none;
  position: absolute;
}
.checkbox:focus {
  outline: none;
}

.btn > span {
  border-radius: 10px;
  min-width: 20px;
  min-height: 2px;
  display: block;
  position: relative;

  background-color: white;

  transition: 500ms ease;
  /* box-shadow: 0 0 20px black; */
}

.btn > span:first-child {
  transform: translateY(-5px);
}
.btn > span:nth-child(2) {
  display: block;
}
.btn > span:last-child {
  transform: translateY(5px);
}

.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 70px;
}

.header > div > a {
  text-decoration: none;
  color: white;
  font-size: 25px;

  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);

  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-inline: 50px;

  transition: 500ms ease;

  text-align: center;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  background-color: #0005;
}

.header > div > a:last-child {
  background-color: #28b4ab;
  padding-inline: 25px;
  margin-inline: 20px;
  border-radius: 15px;
  min-height: 50px;
}
.header > div > a:last-child:hover {
  background-color: #19726c;
}

.main {
  padding-top: 70px;

  flex: 2;
  background: url(src/assets/images/login/school.png);
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 60vh;
  max-height: 60vh;
}

.main > h1 {
  font-family: Poppins;
  font-weight: 200;
  color: white;
  font-size: 90px;

  line-height: 90px;
}
.main > h1 > span {
  color: white;
  font-size: 50px;
}
.main > h1 > b {
  font-family: Oswald;
  font-weight: 400;
}

.main > h1{
  line-height: 10px;
}
.main > h1 > b{
  line-height: 60px;
}

.content {
  background-color: #6a2c70;
  color: white;

  border-top: 10px solid white;
  border-bottom: 10px solid white;

  padding: 20px;
  padding-inline: 60px;
  padding-top: 70px;

  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
}

.history > header {
  background-color: #6a2c70;
  padding: 15px;
  color: white;

  padding-inline: 60px;
}
.history > header > h2 {
  line-height: 10px;
  font-weight: 600;
}
.history > .container {
  margin: 30px;
  margin-inline: 60px;
  font-family: Poppins;
  font-weight: 300;

  background-color: #ccc;
  border-radius: 10px;
  padding: 15px;
}

.gallery {
  scroll-padding-top: 200px;
}

.gallery main {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100%;

  padding-block: 20px;
}

.gallery header {
  background-color: #6a2c70;
  padding: 15px;
  color: white;

  padding-inline: 60px;
}
.gallery > header > h2 {
  line-height: 10px;
  font-weight: 600;
}

.gallery > div {
  padding: 30px;
}

.gallery img {
  height: 27rem;
  width: calc((27rem / 3) * 4);

  border-radius: 20px;
}

.footer {
  flex: 1;
  display: none;
}

@media screen and (max-width: 1400px) {
  .header > div > a {
    padding-inline: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .header > div > a {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 799px) {
  .btn {
    display: flex;
  }

  .checkbox:checked ~ .btn {
    position: fixed;
  }

  .checkbox:checked ~ .header {
    transform: translateX(0px);
  }

  .checkbox:checked ~ .btn span:first-child {
    transform: translateY(2px) rotateZ(45deg);
  }
  .checkbox:checked ~ .btn span:nth-child(2) {
    opacity: 0;
  }
  .checkbox:checked ~ .btn span:last-child {
    transform: translateY(-2px) rotateZ(-45deg);
  }

  .header{
    padding-top: 50px;
    align-items: flex-start;
  }

  .header > div {
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;

    width: 88.5%;
  }

  .header > div > a {
    width: 90%;
    justify-content: flex-start;
    padding: 0;
    padding-left: 54px;

  }

  .header > div > a:last-child {
    width: 80%;
    justify-content: center;
    margin: 10px;
  }

  .header {
    position: fixed;
    width: 260px;
    min-height: 100vh;
    max-height: 100vh;

    transform: translateX(-260px);

    box-shadow: none;

    background-color: rgba(85, 85, 85, 0.7);
  }
  .gallery > div {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 699px) {
  .main h1 {
    font-size: 70px;
  }
  .gallery > div {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 650px) {
  /* /* .main h1{
      font-size: 70px;
    } */
  .gallery > div {
    width: 100%;
  }
  /* .gallery img{
      width: 15rem;
    } */
}
@media screen and (max-width: 599px) {
  .main h1 {
    font-size: 55px;
    /* font-weight: 400; */
    line-height: 60px;
  }
  .history > .container{
    margin-inline: 20px;
  }
  .content{
    padding-inline: 20px;
  }
}
@media screen and (max-width: 416px) {
  .main h1{
    width: min-content;
  }
  .main > h1 > span{
    font-size: 30px;
  }
}
