@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Roboto:wght@300&display=swap');

*{
    font-family: inria sans;
    font-weight: 100;
  }

.tickImg {
  width: 10vw;
  height: auto;
}

.noTickImg {
    width: 10vw;
    height: auto;
  }

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.submittedLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  width: 100vw;
  color: #fff;
}

.popupBody {
  width: 30vw;
  height: 30vw;
  background-color: #6A2C70;
  border: solid 5px #971AA3;
  box-shadow: 20px 20px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.close {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5vw;
  height: 3vh;
  font-size: 1vw;
  background-color: transparent;
  color: #fff;
}

.close:hover {
  opacity: 0.7;
}

.QR{
  width: 10vw;
  height: 10vh;
}

@media (max-width: 500px) and (orientation: portrait) {
    .close{
        font-size: 2vw;
    }
}
