.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 11.26%;
  right: 87.92%;
  top: 18.15%;
  bottom: 78.61%;
}

.downIcon {
  margin-right: 1vw; /* add a 2vw margin to the right of the downIcon element */
  width: 35px;
  height: auto;
  margin-right: 18px;
}

.title {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 700;
  /* font-size: 2vw; */
  line-height: 119.3%;
  /* or 38px */
  color: #000000;
}

.side {
  width: 30px;
  height: 0;
  border: 0.1041vh solid #a0a0a0;
  transform: rotate(90deg);
}

.container {
  position: relative;
  top: 17vh; /* adjust the value as needed to position the .hr element */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  width: 78.125vw;
  left: 11.26%;
}

.hr {
  align-self: center;
  width: 78.125vw;
  height: 0px;
  border: 0.2778vh solid #a0a0a0;
}

.path {
  color: grey;
  flex: 1;
  max-height: 20px;

  width: 100%;
  text-align: left;
}

.path span {
  color: grey;
  font-weight: 600;
  padding: 0;
}

.uploadContainer {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 12.8vh;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;

  padding: 1px;
}

.info {
  min-width: 14.375vw;
  padding: 0vh 1.56vw;
  min-height: 63.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  border-radius: 15px;
  border: 1px solid #7055ab;
}

.uploadBox p {
  margin: 0.6vh;
}

.uploadBox label {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 540;
  font-size: 20px;
  line-height: 24px;
  padding: 6px 3vw;
  color: #000000;
}

.uploadBox label:hover {
  opacity: 0.8;
}

.uploadBox input {
  display: none;
  cursor: pointer;
}

.uploadBox button {
  margin-top: 1px;
  background: #28b4ab;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.msg {
  display: flex;
  align-items: center;
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 8vh;
}

.under {
  margin-top: 7vh;
  align-items: flex-start;
  width: 78.125vw;
  height: 0px;
  border: 1px solid #a0a0a0;
}

.note {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 119.3%;
  color: #7a7a7a;
}
