.input {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  /* min-width: 100px; */
  width: 100%;
  min-width: 300px;
  height: 40px;
  border-radius: 7px;
  text-indent: 15px;
  align-self: center;

  margin: 10px;
}

.btn {
  background-color: #28b4ab;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;

  margin-top: 10px;
  width: 100px;

  display: flex;
  justify-content: center;
}

.header span {
  display: flex;
  align-items: center;
  border-right: 2px solid #ccc;
  width: max-content;
  padding-right: 20px;
  max-height: 30px;
  margin-top: 20px;
}

.header img {
  width: 40px;
  height: 40px;
}

.header code {
  font-weight: 600;
}

.header {
  padding-bottom: 70px;
}

.main hr {
  height: 1px;
  background-color: #ccc;
  border: none
}
.main {
  padding: 10%;
  padding-top: 50px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10;
  flex: 1;
  align-items: center;
  /* gap: 10px; */
  /* justify-content: center; */
  width: 50%;
  min-width: min-content;
  align-self: center;
}
.inputContainer {
  width: 100%;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.list {
  width: 100%;
  min-width: 300px;
  margin-top: 50px;
  border-radius: 7px;
  overflow: hidden;
}

.list div {
  display: flex;
}
.list div span {
  padding: 5px;
  padding-left: 15px;
}
.list div span:nth-child(1) {
  flex: 2;
  background-color: #ddd;
}
.list div span:nth-child(2) {
  flex: 1;
  background-color: #bbb;
  text-align: center;
}
.list div span:nth-child(3) {
  flex: 1;
  background-color: #ddd;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .input , .list{
    min-width: 200px;
    max-width: 200px;
  }
}
