:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Poppins;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto;
}

html,
body {
  height: 100%;
  /* scroll-behavior: smooth; */
}

@media screen {
  .print {
    visibility: hidden;
    position: absolute;
  }
}



/* For WebKit-based browsers like Chrome and Safari*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;

  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 50px;
}

/* ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar:hover {
  width: 100px;
} */

/* For Firefox */
.scrollbar {
  scrollbar-width: 5px;
  scrollbar-height: 5px;
  scrollbar-color: #888 transparent;
}

.scrollbar-thumb {
  background-color: #888;
}

/* .scrollbar-thumb:hover .scrollbar:hover {
  width: 12px;
  height: 12px;
} */

/* For Firefox older versions */
@-moz-document url-prefix() {
  .scrollbar-thumb:hover {
    width: 12px;
  }
}


*:focus{
  outline: 2px solid #c324d1;

}
